/* global css */
*{
    box-sizing: border-box;
}
li {
    list-style-type: none;
    padding: 0.5rem 0;
    font-family: 'Mali', cursive;

    font-size: 1.3rem;
    margin: 0;
}

.link {
    text-decoration: none;
    color: black;
    margin-top: 1rem;
}

ul {
    margin: 0;
    padding: 0;

}

.answers {
    transition: .5s background;
    background: transparent;
}


html {
    height: 100%;
}

body {
    background-size: 100vw;
    margin: 0;
    height: 100%;

}

/* index css */
.container-start {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url(img/image9.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    flex-direction: column;
}

.startBtn {
    background-color: rgba(200, 200, 200, 0.7);
    width: 20rem;
    height: 15%;
    border-radius: 30px;
    text-transform: uppercase;
    font-size: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Open Sans', sans-serif;
    color: black;
    text-decoration: none;
}

.header {
    font-size: 6rem;
    color: white;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
    padding: 1rem;
    position: absolute;
    top: 0;
    background: rgba(10, 10, 10, 0.8);
}

/* game css */

.background {
    position: fixed;
    width: 100%;
    height: 110vh;
    z-index: -50;
    background: url(img/image19.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.container-game {
    transition-duration: 4s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.question {
    font-size: 2rem;
    font-family: 'Ubuntu', sans-serif;
    flex-shrink: 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ansCounter {
    font-size: 1.9rem;
    font-family: 'Ubuntu', sans-serif;

}

.game-cont {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgba(250, 250, 250, 0.7);
    border-radius: 30px;
    width: 30rem;
    flex-shrink: 0;
    padding: 0.5rem;
    height: 100%;
}

.correct {
    background: green;
    transition-duration: .5s;
    transition-timing-function: ease-in;
}

.wrong {
    background: red;
    transition-duration: .5s;
}

.answers {
    display: flex;
    width: 20rem;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 1rem;
    flex-shrink: 0;
}

.answer {
    margin-bottom: 0.5rem;
    background: rgba(255, 255, 255, 0.8);
    box-sizing: border-box;
    border: 3px ridge black;
    border-radius: 5px;
    width: 20rem;
    height: 10vh;
    font-family: 'Open Sans', sans-serif;
    height: 5rem;
    font-size: 1rem;
    cursor: pointer;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.earnedPoints {
    display: flex;
    font-family: 'Ubuntu', sans-serif;
    justify-content: right;
    margin-top: 1.5vw;

}

.nextQuestion {
    width: auto;
    cursor: pointer;
    user-select: none;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 2vh;
    font-family: 'Ubuntu', sans-serif;
    white-space: nowrap;
    font-size: 2rem;
    background: white;
}

.question img {
    width: 20rem;
}

/* end css */
.container-end {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url(img/image19.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


.cont-end {
    background: rgba(220, 220, 220, 0.7);
    width: 35rem;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Ubuntu', sans-serif;
}

.list-title {
    font-size: 1.5rem;
    padding: 2rem 0;
}

.congrat {
    font-size: 2rem;
}

@media (max-width:1023px) and (min-width: 300px) {
    body{
        width: 90%;
    }
    .game-cont{
        width: 90vw;
        margin-left: 24%;
    }
    .answers{
        width: 80vw;
    }
    .answer{
        width: 90vw;
    }
    .container-game{
        width: 90%;
    }
    .background{
        width: 100%;
    }
    
}