.first-article {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    &__heading {
        width: 100%;
        text-align: center;
        color: $colorWhite;
        font-family: $fontMartel;
        background: $colorGrey;
        margin: 0;
        padding: 2rem;
        font-size: $fontSize + 0.4rem;
    }

    &__cont {

        &--right {
            width: 35%;
            object-fit: cover;
            height: 20rem;
        }

        &--left {
            line-height: 1.5rem;
            padding: 1rem;
            border-bottom: 1px solid black;
            font-family: $fontSans;
            width: 65%;
            background: $colorWhiteGrey;
        }
    }

}